<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Display Name Change</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="Buildings_align">
<label for= " Buildings"> Building: </label>
<select name="Buildings" id ="Buildings">
<option value = "1">1</option>
<option value = "2">2</option>
<option value = "3">3</option>
<option value = "4">4</option>
<option value = "5">5</option>
</select>
</div>

<div class="Rooms_align">
<label for= "Rooms"> Room: </label>
<select name="Rooms" id ="Rooms">
<option value = "10">10</option>
<option value = "20">20</option>
<option value = "30">30</option>
<option value = "40">40</option>
<option value = "50">50</option>
</select>
</div>

<div class="Subject_align">
<label for="Subject">Subject of Request *: </label>
<input type = "text" id="Subject" name="Subject">
</div>

<div class="Description_align">
<label for="Description">Description*: </label>
<textarea id="Description" name="Description"
rows="5" Cols="50">
</textarea>
</div>

	<div class="dropzone">
		<span class="dropzone_prompt"> Drop files here or click to upload</span>
		<input type="file" name=" " >
		</div>
		
<button class="submit-button"onclick="location.href='/submitRequest'">
<div class="subtitle">Submit
</div>
</button>

</body>
