<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title> Software and Computer</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<body>
<div class="topside">
<div class="systemname">Work Order System</div>
<div class="toprightside">
<div class="accmenu">Guest</div>
</div>
</div>
<div class="main">
<div class="Catalog">
Service Catalog
</div>
</div>
<div class="alltap">
<div class="firsttap">
<button class="select-button"onclick="location.href='pc_submit_incident'">
<h4>Submit Incident</h4>
</button>
</div>
</div>