<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title> Software and Computer</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<body>
<div class="topside">
<div class="systemname">Work Order System</div>
<div class="toprightside">
<div class="accmenu">Guest</div>
</div>
</div>
<div class="main">
<div class="Catalog">
Service Catalog
</div>
</div>
<div class="alltap">
<div class="firsttap">
<button class="select-button"onclick="location.href='/comp_lapt_tabl_support'">
<h4>Computer, Laptop, Tablet Support</h4>
<div class="subtitle">Report a hardware issue, request an installation, submit a surplus request
</div>
</button>
<button class="select-button">
<h4>Software</h4>
<div class="subtitle">Report a problem or request software installation
</div>
</button>
<button class="select-button">
<h4>Printing</h4>
<div class="subtitle">Report a printer problem, request a printer installation or move, request access to a printer, print management requests
</div>
</button>
</div>
<div class="secondtap">
<button class="select-button">
<h4>Scanning</h4>
<div class="subtitle">Report an issue with scanning or request an installation
</div>
</button>
<button class="select-button">
<h4>Surplus Request</h4>
<div class="subtitle">Request the removal of unused computers, printers, and electronic equipment
</div>
</button>
<button class="select-button">
<h4>Quotes & Equipment Requests</h4>
<div class="subtitle">Request a quote for a computer, software, server, printer, telephone, and miscellaneous peripherals
</div>
</button>
</div>
<div class="thirdtap">
<button class="select-button">
<h4>Loaner Equipment</h4>
<div class="subtitle">Request a loaner laptop VoiceLift microphone
</div>
</button>
</div>
</div>