<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title> Admin</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="topside">
<div class="systemname">Work Order System</div>
<div class="toprightside">
<div class="accmenu"> 
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome [ADMIN] 
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>
</div>
<body>

<div class="main">
<div class="Catalog">
Service Catalog
</div>
</div>
<div class="alltap">
<div class="firsttap">
<button class="select-button"onclick="location.href='/ListUser'">
<h4>List for Incident</h4>
</button>
</div>
</div>