<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Computer, Laptop, Tablet Support</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<body>
<div class="topside">
<div class="systemname">Work Order System</div>
<div class="toprightside">
<div class="accmenu">Guest</div>
</div>
</div>
<div class="main">
<div class="Catalog">
Service Catalog
</div>
</div>
<div class="alltap">
<div class="firsttap">
<button class="select-button"onclick="''">
<h4>Computer-Fails To Boot or Slow Response</h4>
<div class="subtitle">Report a computer that does not boot properly or is responding slowly
</div>
</button>
<button class="select-button">
<h4>Remote Desktop</h4>
<div class="subtitle">Report a problem using Remote Desktop after successfully connecting to VPN(while off Campus)
</div>
</button>
<button class="select-button"onclick="location.href='comp_hardware_issue'">
<h4>Computer Hardware Issue</h4>
<div class="subtitle">Report issues with the functionality of an office desktop or laptop computer, or attached device
</div>
</button>
</div>
<div class="secondtap">
<button class="select-button">
<h4>Installation Request</h4>
<div class="subtitle">Request the installation of a desktop, laptop, or tablet
</div>
</button>
<button class="select-button">
<h4>Shared Drives</h4>
<div class="subtitle">Report an issue with an existing drive, request new access, more space, a new share
</div>
</button>
<button class="select-button">
<h4>Office Move</h4>
<div class="subtitle">Request equipment be disconnected/connected for an office move
</div>
</button>
</div>
</div>