<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Computer Hardware Issue</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<body>
<div class="topside">
<div class="systemname">Work Order System</div>
<div class="toprightside">
<div class="accmenu">Guest</div>
</div>
</div>
<div class="main">
<div class="Catalog">
Service Catalog
</div>
</div>
<div class="alltap">
<div class="firsttap">
<button class="select-button"onclick="''">
<h4>Mac</h4>
<div class="subtitle">Submit Incident
</div>
</button>
<button class="select-button">
<h4>Other</h4>
<div class="subtitle">Submit Incident
</div>
</button>
<button class="select-button"onclick="location.href='pc_submit_incident'">
<h4>PC</h4>
<div class="subtitle">Submit Incident
</div>
</button>
</div>
<div class="secondtap">
<button class="select-button">
<h4>Tablet/iPad</h4>
<div class="subtitle">Submit Incident
</div>
</button>
</div>
</div>