<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
     <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="registrationtab">
<div>
<h1>User - Registration - sign up</h1> 
</div>
<form th:action="@{/process_register}" th:object="${user}"
            method="post" style="max-width: 600px; margin: 0 auto;">

 <div class="m-3">
            <div class="form-id">
                <label class="form-label">E-mail: </label>
                <div class="in-label">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
            </div>
             
            <div class="form-id">
                <label class="form-label">Password: </label>
                <div class="in-label">
                    <input type="password" th:field="*{password}" class="form-control" required/>
                </div>
            </div>
             
            <div class="form-id">
                <label class="form-label">First Name: </label>
                <div class="in-label">
                    <input type="text" th:field="*{firstName}" class="form-control" required/>
                </div>
            </div>
             
            <div class="form-id">
                <label class="form-label">Last Name: </label>
                <div class="in-label">
                    <input type="text" th:field="*{lastName}" class="form-control" required/>
                </div>
            </div>
            
            <div class="form-id">
                <label class="form-label">Role: </label>
                <div class="in-label">
                    <select th:field="*{role}">
                    <option value="USER">User</option>
                    </select>
                </div>
            </div>
             
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
</form>
</div>
</body>
</html>