<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title> Email Issue</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<body>
<div class="topside">
<div class="systemname">Work Order System</div>
<div class="toprightside">
<div class="accmenu">Guest</div>
</div>
</div>
<div class="main">
<div class="Catalog">
Service Catalog
</div>
</div>
<div class="alltap">
<div class="firsttap">
<button class="select-button"onclick="location.href='https://www.sru.edu/account-maintenance'">
<h4>How do I change my password?</h4>
<div class="subtitle">
How to maintain your SRU accopunt.Instructions for changing passwords,passwords, setting up multi-factor authentication, setting up the password recovery tool.
</div>
</button>
<button class="select-button" onclick="location.href='/new'">
<h4>SRU Account Password Reset</h4>
<div class="subtitle">Need help resetting the password for your SRU account?
A technician will call you Monday-Friday between 8am and 4pm
</div>
</button>
<button class="select-button"onclick="location.href='/new'">
<h4>Outlook Desktop Application</h4>
<div class="subtitle">Report Issues while using the Outlook application on your SRU computer.
</div>
</button>
</div>
<div class="secondtap">
<button class="select-button"onclick="location.href='/new'">
<h4>Office 365 Web Access</h4>
<div class="subtitle">Report issues while using Office 365 applications.
This includes issues sending and receiving email through the web application.
</div>
</button>
</div>
</div>