<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body {margin-left:40px; margin-bottom: 60px}
label {color:gray; font-family:sans-serif; margin-top: 15px; display: inline-block}
select {width: 250px; height: 30px}
</style>
</head>
<meta charset="utf-8">
<title>Submit PC Incident</title>
<body>
<h1 style="color:darkgreen; font-family:sans-serif">Submit PC Incident</h1>
<form action="#" th:action="@{/save}" th:object="${incident}" method="post">
<label for="instructions">Submission Instructions</label><br>
<textarea style="resize:none; font-family: sans-serif" readonly id="instructions" name="instructions" rows="12" cols="70">
Requester= Person who is experiencing the problem
Contact Phone= Phone number of the person who is experiencing the problem
CC= The person other than the requester who should receive notifications
Building/Room= Location where the issue is happening

Please Provide a complete description of the issue, include the computer name and the error message received whenever possible.
    
Computer name can be found on the desktop(above the date and time) or by typing "computer name" using the search icon. The computer name is shown next to the Device name.
</textarea><br>
<label for="users">Request User *</label><br>
<input type="text" th:field="*{User}" style="height:25px; width:242px"/><br>
<label for="contact_phone">Contact Phone *</label><br>
<input type="text" th:field="*{Phone}" style="height:25px; width:242px"/><br>
<label for="cc">CC</label><br>
<input type="text" th:field="*{CC}" style="height:25px; width: 242px"/><br>
<label for="department">SRU Department *</label><br>
<input type="text" th:field="*{Department}" style="height:25px; width: 242px"/><br>
<label for="building">Building</label><br>
<input type="text" th:field="*{Building}" style="height:25px; width: 242px"/><br>
<label for="room">Room</label><br>
<select name="room" id="room">
<option value="room_choice">Select Room</option>
</select><br>
<label for="request_subj">Subject of Request *</label><br>
<input type="text" th:field="*{Subject}" style="height:25px; width: 242px"/><br>
<label for="description">Description *</label><br>
<textarea style="resize:none; font-family: sans-serif" id="description" name="description" rows="8" cols="70"></textarea><br>
<input type="submit" style="height:35px; width:80px; margin-top:15px">
</form>
</body>
</html>