<!doctype HTML>
<html>
<head>
<style>
body {margin-left:40px; margin-bottom: 60px}
label {color:gray; font-family:sans-serif; margin-top: 15px; display: inline-block}
select {width: 250px; height: 30px}
</style>
</head>
<meta charset="utf-8">
<title>Request Name Change</title>
<body>
<h1 style="color:darkgreen; font-family:sans-serif">Submit A Request</h1>
<form>
<label for="instructions">Submission Instructions</label><br>
<textarea style="resize:none; font-family: sans-serif" readonly id="instructions" name="instructions" rows="8" cols="70">
Requester= Person who needs the service
Contact Phone= Phone number of the person who needs the service
CC= The person other than the requester who should receive notifications
Building/Room= Location where the work is to be completed
</textarea><br>
<label for="users">Request User *</label><br>
<select name="users" id="users">
<option value="choice"></option>
</select><br>
<label for="contact_phone">Contact Phone *</label><br>
<input type="text" id="contact_phone" name="contact_phone" style="height:25px; width:242px"><br>
<label for="cc">CC</label><br>
<input type="text" id="cc" name="cc" style="height:25px; width: 242px"><br>
<label for="department">SRU Department *</label><br>
<select name="department" id="department">
<option value="dep_choice">Please Select an Option</option>
</select><br>
<label for="building">Building</label><br>
<select name="building" id="building">
<option value="build_choice">Please Select an Option</option>
</select><br>
<label for="room">Room</label><br>
<select name="room" id="room">
<option value="room_choice">Select Room</option>
</select><br>
<label for="request_subj">Subject of Request *</label><br>
<input type="text" id="request_subj" name="request_subj" style="height:25px; width:491px"><br>
<label for="description">Description *</label><br>
<textarea style="resize:none; font-family: sans-serif" id="description" name="description" rows="8" cols="70"></textarea><br>
<input type="submit" style="height:35px; width:80px; margin-top:15px">
</form>
</body>
</html>