<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Tech Incidents</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="topside">
<div class="systemname">Work Order System / Assigned Incidents</div>
<div class="toprightside">
<div class="accmenu"> 
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome "<b>[[${#request.userPrincipal.principal.fullName}]]</b>"
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>
</div>

<body>
<div align="center">
    <h1 style="font-family: Arial">Assigned Incidents For "<b>[[${#request.userPrincipal.principal.fullName}]]</b>"</h1>
  <table class="table-style">
        <thead>
            <tr>
            <th>ID</th>
                <th>User</th>
                <th>Phone</th>
                <th>CC</th>
                <th>Department</th>
                <th>Building</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Status</th>
                <th>Assigned Tech User</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="incident : ${techIncidents}">     
                <td th:text="|${incident.id}|">ID</td>
                <td th:text="|${incident.User}|">User</td>
                <td th:text="|${incident.Phone}|">Phone</td>
                <td th:text="|${incident.CC}|">CC</td>
                <td th:text="|${incident.Department}|">Department</td>
                <td th:text="|${incident.Building}|">Building</td>
                <td th:text="|${incident.Subject}|">Subject</td>
                <td th:text="|${incident.setdate}|">Date</td>
                <td>
                	<span style="color:Orange;" th:if="${incident.tech_notes == 'PENDING'}">PENDING REVIEW</span>
                	<span style="color:DeepSkyBlue;" th:if="${incident.tech_notes == 'OPEN'}">OPEN</span>
                	<span style="color:MediumSeaGreen;" th:if="${incident.tech_notes == 'CLOSED'}">CLOSED</span>
                </td>
                <td><a th:text="|${user.email}|"></a></td>
            </tr>
        </tbody>
    </table>
    <button class="nav-button" onclick="location.href='/techAssist'">
<h3>Tech Assistant Main</h3>
</button>
<button class="nav-button" th:onclick="|window.location.href='@{'/TecheditList/' + ${#request.userPrincipal.principal.getId}}'|">
<h3>Edit Incidents</h3>
</button>
</body>
</html>