<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">>
<head>
<meta charset="utf-8">
<title> User incident List</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<style>
table{
margin-left:auto;
margin-right:auto;
}
</style>
<body>
<div class="topside">
<div class="systemname">Work Order System</div>
<div class="toprightside">
<div class="accmenu"> 
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome [[${#request.userPrincipal.principal.fullName}]]
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>
</div>
<div class="main">
<div class="Catalog">
Service Catalog
</div>
</div>
<div class="alltap">
  <table border="1" >
        <thead>
            <tr>
            <th>ID</th>
                <th>User</th>
                <th>Phone</th>
                <th>CC</th>
                <th>Department</th>
                <th>Building</th>
                <th>Subject</th>
              <th>Date</th>
               
            </tr>
        </thead>
        <tbody>
            <tr th:each="incident : ${listincidents}">     
                <td th:text="|${incident.id}}|">ID</td>
                <td th:text="|${incident.User}|">User</td>
                <td th:text="|${incident.Phone}|">Phone</td>
                <td th:text="|${incident.CC}|">CC</td>
                <td th:text="|${incident.Department}|">Department</td>
                <td th:text="|${incident.Building}|">Building</td>
                <td th:text="|${incident.Subject}|">Subject</td>
                <td th:text="|${incident.setdate}|">Date</td>
            </tr>
        </tbody>
    </table>
    <button onclick="location.href='/index'"> Back To Main Page</button>
</div>
</body>
</html>